<p>
 <strong>评论者:</strong>
 <%= comment.commenter %>
</p>

<p>
 <strong>评论:</strong>
 <%= comment.body %>
</p>

<p>
 <% if !current_user.nil? && current_user.admin? %>
 <%= link_to '只有管理员可以删除评论', [comment.article, comment], method: :delete, data: { confirm: '确定删除？'}, class: "btn btn-lg btn-danger" %>
 <% end %>
</p>