<footer class="footer">
  <small>
    别在这刷了，快去看 <a href="https://github.com/exacity/deeplearningbook-chinese">Deep Learning</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>这页面太辣鸡了，不如去刷<a href="https://www.zhihu.com/">知乎</a></li>
    </ul>
  </nav>
</footer>